@tailwind base;
@tailwind components;
@tailwind utilities;



/* adaptive */

@media (max-width: 425px) {

    .form__login {
        width: 80%;
    }

    .reference__form {
        width: 80%;
    }


}

@media (max-width: 770px) {

    .form__login {
        width: 80%;
    }
}

@media (max-width: 768px) {

    .admin__menu {
        margin-left: 20px;
    }

    .user__menu {
        margin-left: 20px;
    }

    .reference__form {
        width: 100%;
    }
}

@media (max-width: 768px) {

    .h__text {
        font-size: 16px;
    }

    .span__text {
        font-size: 18px;
    }
}